# monitor /usr/local/3proxy/mob/3proxy1.cfg
# monitor /usr/local/3proxy/mob/3proxy{11-10}.cfg
daemon
timeouts 1 5 30 60 180 1800 15 60
maxconn 5000
nserver 192.168.{portId}.1
nscache 65535
log /usr/local/3proxy/mob/log/server199-192.168.{portId}.100.log D
#logformat "L%C - %U [%d/%o/%Y:%H:%M:%S %z] ""%T"" %E %I %O %N/%R:%r"
logformat "L%C - %U - %e [%d/%o/%Y:%H:%M:%S %z] %N.%p ""%T"" %E %I %O %N/%R:%r"
rotate 360
archiver rar rar a -df -inul %A %F
auth iponly strong
# tecchnical proxy
users BcQslzt3:CL:XAv9AukB
allow BcQslzt3


allow * 8.8.8.8,2.2.2.2 * * * * * 
proxy -n -a -p7001 -i192.168.0.167 -e192.168.{portId}.100
socks -n -a -p8001 -i192.168.0.167 -e192.168.{portId}.100
flush
connlim 200 0 6c69dc0a9e
auth strong
bandlimin 15000000 6c69dc0a9e
bandlimout 15000000 6c69dc0a9e
users {user_login}:CL:{user_password}
deny {user_login} * $/usr/local/3proxy/banlist61.list * * *
allow {user_login * * * * * *
proxy -s0 -n -a -p41805 -i0.0.0.0 -e192.168.{}.100
socks -s0 -n -a -p42711 -i0.0.0.0 -e192.168.{}.100
#monitor /usr/local/3proxy/banlist61.list
flush


mac@mac:/usr/local/3proxy/mob$ cat 3proxy1.cfg 
monitor /usr/local/3proxy/mob/3proxy1.cfg

daemon
timeouts 1 5 30 60 180 1800 15 60
maxconn 5000
nserver 192.168.11.1
nscache 65535
log /dev/null
auth iponly strong
users BcQslzt3:CL:XAv9AukB
allow BcQslzt3
allow * 8.8.8.8,2.2.2.2 * * * * * 
proxy -n -a -p7001 -i192.168.0.167 -e192.168.11.100
socks -n -a -p8001 -i192.168.0.167 -e192.168.11.100
flush
monitor /usr/local/3proxy/mob/3proxy1.cfg